* {
 margin: 0px;
 padding: 0px;
}

#main_wrap {
    width: 1300px;
    margin: 10px auto;
}

header {
    width: 1190px;
    height: 40px;
    margin: 5px auto;
    padding: 5px;
    background: linear-gradient(#0F99DA, #096A96);
	background: -webkit-linear-gradient(#0F99DA, #096A96);
}

header h2 {
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}

#menu {
    width: 1190px;
    height: 25px;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #096A96;
    color: #fff;
}

#menu ul  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
}

#menu ul li a:hover {
    text-decoration: underline;
}


#content_wrap {
    width: 1190px;
    margin: 0px auto;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

#content {
    width: 500px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 100px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #666;
    margin-bottom: 100px;
    background-color: #fff;
}

.form_content {
    width: 600px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #666;
    margin-bottom: 100px;
    background-color: #fff;
}

.list_content {
    width: 800px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #666;
    margin-bottom: 100px;
    background-color: #fff;
}

#login_bar {
    background-color: #096A96;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#login_bar h2 {
    color: #fff;
}

#login_form, #book_form {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
}

#book_list {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

#login_form table, .form_content table, .list_content table {
    margin: 5px auto;
}

.list_content table {
    text-align: center;
    border-collapse: collapse;
}

.list_content table tr td{
    border-bottom: 1px solid #ccc;
    padding: 8px;
    padding-left: 20px;
}

.list_content table .head{
    background-color: #0F99DA;
    color: #FFF;
    font-weight: bold;
}

#login_form table input[type="text"], input[type="password"] {
    width: 200px;
    padding: 3px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table input[type="text"] {
    width: 300px;
    padding: 3px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    width: 300px;
    padding: 3px;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"], input[type="file"] {
    padding: 5px;
    color: #fff;
    background-color: #096A96;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border: 1px solid #aaa;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #0F99DA;
    box-shadow: 0px 0px 3px #0F99DA;
}

#status {
	width: 300px;
	padding: 5px;
	background-color: #f2dede;
	color: #b94a48;
	margin: 10px auto;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

#success {
	width: 300px;
	padding: 5px;
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	margin: 10px auto;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}


#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: +100;
    margin-top: -10px;
}

#frame {
    display: none;
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ddd;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-top: 100px;
    z-index: +101;
    background-color: #fff;
}

#confirm_box {
    display: none;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ddd;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    margin-top: 100px;
    z-index: +105;
    background-color: #fff;
    text-align: center;
}

.edit {
    background-color: #096A96;
    border: 1px solid #096A96;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.delete {
    background-color: #DD1D38;
    border: 1px solid #DD1D38;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}